/*Variables used in other stylesheet*/
/*Mixins*/
/*------------------------------------------------Text styling-------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: "aktiv_groteskregular";
  src: url("../fonts/dalton_maag_-_aktiv_grotesk-webfont.woff2") format("woff2"), url("../fonts/dalton_maag_-_aktiv_grotesk-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aktiv_groteskbold";
  src: url("aktiv-grotesk-bold-webfont.woff2") format("woff2"), url("aktiv-grotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aktiv_groteskitalic";
  src: url("aktiv-grotesk-italic-webfont.woff2") format("woff2"), url("aktiv-grotesk-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.white-text {
  color: white;
}

.purple-text {
  color: #434DA0;
}

.title-fontSize {
  font-size: 3rem;
  font-weight: 700;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Changing By default classes and styling*/
body {
  margin: 0;
  font-family: "aktiv_groteskregular", sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 500;
  line-height: 1.5;
  color: #36384B !important;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #36384B !important;
}

/*Media queries*/
@media screen and (max-width: 768px) {
  .navbar-brand {
    width: 70%;
  }
}
@media screen and (min-width: 769px) {
  .nav-item {
    margin: 0 15px;
  }
}
.logo-image {
  width: 90%;
}

.homepageBackground {
  background-image: url(../images/kitchen-picture.jpg);
  background-size: cover;
  background-origin: border-box;
  background-position: center center;
  width: 100%;
  height: auto;
  min-height: 600px;
  background-repeat: no-repeat;
  z-index: -100;
  position: absolute;
  left: 0;
}

.search-service-container {
  border: 5px solid #434DA0;
  border-radius: 20px;
  height: auto;
  /*min-height: 200px;*/
  background-color: rgba(0, 0, 0, 0.5);
}

.search-bar-container {
  margin: 1em auto;
  background-color: #434DA0;
  padding: 13px;
  border-radius: 13px;
  height: auto;
  /*min-height: 50px;*/
  color: white;
  display: grid;
  grid-template-columns: 50% 35% 15%;
  grid-column-gap: 10px;
  justify-content: space-between;
  align-content: baseline;
}
.search-bar-container div {
  display: flex;
  flex-direction: column;
}
.search-bar-container button {
  color: #434DA0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.search-bar-container .rounded {
  border-radius: 10px !important;
}

.info-section {
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
  margin: 2em 0;
}

/*Coming soon section*/
.comingSoon-container {
  width: 100%;
  height: auto;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 20em;
}

.comingSoon {
  width: 50%;
  height: auto;
  background: white;
  display: block;
  margin: 0em auto;
  position: absolute;
  top: 10%;
  left: 25%;
  padding: 2em 3em;
}
.comingSoon p {
  font-size: 1.5rem;
  font-weight: 300;
}

/*Media queries*/
@media screen and (max-width: 768px) {
  .search-service-container {
    width: 95%;
    margin-top: 15%;
  }

  .search-bar-container {
    grid-template-columns: 100%;
  }
  .search-bar-container button {
    margin-top: 1em;
  }

  .info-section {
    width: 95%;
    height: auto;
    min-height: 250px;
  }
}
@media screen and (min-width: 769px) {
  .search-service-container {
    width: 50%;
    margin-top: 10%;
  }

  .search-bar-container button {
    max-width: 60%;
    width: auto;
    /*max-height: 70%;*/
    height: auto;
    margin-top: 1.45em;
    padding: 0;
  }

  .info-section {
    width: 60%;
    height: auto;
    min-height: 350px;
  }
}

/*# sourceMappingURL=main.css.map */
