
.logo-image{
	width:90%;
}

.homepageBackground{
	background-image: url(../images/kitchen-picture.jpg);
	background-size: cover;
	background-origin: border-box;
	background-position: center center;
	width: 100%;
	height:auto;
	/*min-height: 600px;  */
	background-repeat: no-repeat;
	z-index: -100;
	position: absolute;
	left: 0;
}

.search-service-container{
		border: 5px solid $purple-color;
		border-radius: 20px;
		height: auto;
		/*min-height: 200px;*/
		background-color: rgba(0,0,0,0.5);
	}

.search-bar-container{
	margin:1em auto;
	background-color: $purple-color;
	padding:13px;
	border-radius: 13px;
	height: auto;
	/*min-height: 50px;*/
	color: white;
	display: grid;
	grid-template-columns: 50% 35% 15%;
	grid-column-gap: 10px;
	justify-content: space-between;
	align-content: baseline;

	div{
		display: flex;
		flex-direction: column;
	}

	button{
		color: $purple-color;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1.10rem;
	}

	.rounded{
		border-radius: 10px !important;
	}
}

.info-section{
	background-color: rgba(255,255,255,0.75);
	position: relative;
	margin: 4em 0 0 0;
	width: 100%;
	height: 100%;
	/*min-height: 700px;*/
}

.info-section-points{
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	margin:2em auto;
	/*grid-gap: 1em;*/

	.number-bullet{
			color: $purple-color;
		    border: 5px solid #434DA0;
		    font-size: 2rem;
		    font-weight: 900;
		    padding: 10px 18px;
		    border-radius: 50%;
		    width: 50px;
		    height: 50px;
		    text-align: center;
		}

		.text-bullet{
			margin-top:1em;
			font-size: 1.75rem;
			font-weight: 700;
			color: #36384B;
			font-family: $normal-font;
			line-height: 1.15;

		}
}

/*Coming soon section*/
/*.comingSoon-container{
	width: 100%;
	height: auto;
	min-height: 500px;
	background: rgba(255,255,255,0.5);
	position: relative;
}*/

.comingSoon{
    width: 50%;
    height: auto;
    background: white;
    display: block;
    margin: 0em auto;
    padding: 2em 3em;
 	position: relative;

    p{
    	font-size: 1.5rem;
    	font-weight: 300;
    }
}

/*Media queries*/
@media screen and (max-width:768px){
	.search-service-container{
		width:95%;
		margin-top: 15%;
	}

	.search-bar-container{
		grid-template-columns: 100%;

		button{
			margin-top:1em;
		}
	}

	.info-section-points{
		width:95%;
		margin:1em auto;
		flex-direction: column;
		grid-row-gap: 1em;
	}

	/*.comingSoon-container{
		bottom: 10em;
	}
*/
	.comingSoon{
		width: 100%;
		padding: 2em;
	}
}

@media screen and (min-width: 769px){
	
	.search-bar-container{
		button{
			max-width: 60%;
			width: auto;
			/*max-height: 70%;*/
			height: auto;
			margin-top:1.45em;
			padding: 0;
		}
	}

}

@media screen and (min-width:769px) and (max-width: 1024px){
	.search-service-container{
		width: 70%;
		margin-top:10%;
	}

	/*.comingSoon-container{
		bottom: 8em;
	}*/

	.comingSoon{

	}
}

@media screen and (min-width: 1025px){
	.search-service-container{
		width: 50%;
		margin-top: 10%;
	}

/*	.comingSoon-container{
		bottom: 8em;
	}*/

	.info-section-points{
		width: 50%;
		display: flex;
		flex-direction: row;
	}
}
