
/*------------------------------------------------Text styling-------------------------------------------------------------------------------------------------------------*/
$font-path: "../fonts/Aktiv-Grostesk";

$fontFamily: 'aktiv_groteskregular',sans-serif;

@font-face {
    font-family: 'aktiv_groteskregular';
    src: url('../fonts/dalton_maag_-_aktiv_grotesk-webfont.woff2') format('woff2'),
         url('../fonts/dalton_maag_-_aktiv_grotesk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktiv_groteskbold';
    src: url('aktiv-grotesk-bold-webfont.woff2') format('woff2'),
         url('aktiv-grotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktiv_groteskitalic';
    src: url('aktiv-grotesk-italic-webfont.woff2') format('woff2'),
         url('aktiv-grotesk-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.white-text{
    color:white;
}

.purple-text{
    color: $purple-color;
}


.title-fontSize{
    font-size:3rem;
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6,p{

}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Changing By default classes and styling*/



body{
    margin: 0;
    font-family:'aktiv_groteskregular',sans-serif !important;
    font-size: 1.20rem !important;
    font-weight: 500;
    line-height: 1.5;
    color: #36384B !important;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.navbar-collapse{
    justify-content: center;
}

.navbar-light .navbar-nav .nav-link{
    color: #36384B !important;
}


/*Media queries*/
@media screen and (max-width:768px){
    .navbar-brand{
        width: 70%; 
    }
}

@media screen and (min-width: 769px){
    .nav-item{
        margin:0 15px;
    }
}